@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom CSS */

main {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

//Styling navbar component
navbar {
    width: 100%;
    display: flex;
    height: 60px;
    background: #505050;
    color: white;

    logo {
        font-size: 24px;
        position: absolute;
        top: 15px;
        left: 20px;
    }

    .nav_menu {
        padding-top: 20px;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;

        li {
            margin-right: 30px;
            cursor: pointer;
        }
    }
}

.hero {
    width: 80%;
    height: auto;
    display: grid;
    // justify-content: center;
    justify-items: center;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;

    img {
        width: 250px;
        align-self: center;
    }
}

cardlist {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    grid-gap: 10px;
    margin-bottom: 50px;

    card {
        display: block;
        text-align: center;
        width: 70%;
        border-top: 2px solid mediumaquamarine;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        // margin: 0 auto;

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
        }
    }
}
